h1 {
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 7px;
  text-align: left;
}
.Laura{
  float: left;
}
.aboutlaura{
  padding-top: 20px;
  padding-left: 70px;
}
.htmlpic{
  padding-top: 20px;
}
.related {
  background-color: darkgray;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-color: rgb(3, 172, 110);
  padding-top: 20px;
  margin-top: 40px;
  height: 500px;
  width: 400px;
  float: right;
}

.Head {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(16, 172, 172);
  border-top: 10px solid rgb(8, 118, 177);
}
header {
  line-height: 1;
}

main {
  padding-left: 20px;
  height: 1050px;
  width: 950px;
  float: left;
}
.heading {
  font-size: x-large;
  text-align: center;
}
a {
  text-decoration: underline;
}
nav {
  padding-left: 50px;
  text-align: right;
  margin-top: 5px;
  margin-right: 50px;
  padding-bottom: 20px;
}
a:hover {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  float: right;
  bottom: 0;
}
button:hover {
  color: white;
  background-color: blue;
}
footer {
  clear: both;
}
